.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
    margin: 1rem;
    padding: 1rem;

}

#poster {
    max-width: 100%;
}

@media (max-width: 630px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media (max-width: 1600px) and (min-width: 645px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}